-e .[standard]

# Explicit optionals
wsproto==0.15.*
git+git://github.com/victoraugustolls/httptools.git@master#egg=httptools

# Packaging
twine
wheel

# Testing
autoflake
black
flake8
isort
pytest
pytest-mock
requests
mypy
trustme
cryptography
coverage

# Documentation
mkdocs
mkdocs-material

